# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/

*.eep
*.lss
*.map
*.sym
*.d
*.lst
*.swp
*.swo

test/igb_util/build/*
!test/igb_util/build/.keep
test/igb_stm32/build/*
!test/igb_stm32/build/.keep
test/igb_sdk/build/*
!test/igb_sdk/build/.keep
test/igb_daisy/build/*
!test/igb_daisy/build/.keep
